* {
   margin: 0;
}
 

.app{ 
   height: 100vh;
   position:sticky;
}

.app__header{ 
   object-fit: content; 
   padding: 20px; 
   object-fit: contain;
   display: flex;
   justify-content: space-between;
   background-color: white;
}
 
 
.app__login {
   display: flex;
   flex-direction: column; 
   justify-content: center;
   padding: 20px;
   background-color: white; 
 }

 .app__head{ 
   position:sticky;
   top:0; 
   z-index:1;
   background-color: white;
   border-bottom: 1px solid lightgrey;
 }
 


 .profile{
   border-radius: 28px;
   position: fixed;
   top: 15%;
   right: 15%;
   width: 300px;
   margin-left: auto;
   margin-right: auto;
   background: white;
   padding: 40px;
   height: 200px;
   border: 1px solid lightgray;
 }
 .profile_container{
   text-align: center;
 }
 .profile_avatar{
   display: flex;
   justify-content: center;
   margin-bottom: 12px; 
 }